*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
header, nav, main, section, footer, div {
    display: block;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:100%;
}
section{display:block;}
@media(min-width: 851px){
.leftCol{
    float:left;
    width:40%;
    margin-right: 5%;
    background: yellow;
    font-size: 1.4vw;
}
.midCol{
    float: left;
    width:25%;
    margin-right: 5%;
    background: #666666;
    font-size: 1.1vw;
}
.rightCol{
    float: right;
    width: 25%;
    background: red;
    font-size: 1.2vw;
}

}

@media (min-width: 591px) and (max-width:850px){
    .leftCol{
        float:left;
        width:55%;
        margin-right: 5%;
        background: yellow;
    }
    .midCol{
        float: right;
        width:35%;
        margin: 0%;
        background: #666666;
    }
    .rightCol{
        float: none;
        width: 100%;
        clear: both;
        background: red;
    }

}
@media(max-width:590px){
    .leftCol,.midCol,.rightCol{
    float: none;
    width:100%;
    margin:0px;
    border-bottom: 1px solid black;
    background: yellow;
    }
}