*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
#wrapper {
    padding-left: 125px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-style: normal;
}
body{
    background-color:  #F2F2F2;
}
header{
    padding-top: 76px;
    color: #222222;
}
header, nav, main, section, footer, div {
    display: block;
}
#logo a{
    background-image: url(../images/logo.png); 
    background-repeat: no-repeat;  
    background-size: contain;
    display: block;
    padding-left: 110px;
    height: 88px;
}
.outer{
    font-size: 60px;
    color: #222222;
    height: 60px;
    padding-top: 14px;
}
#main_nav {
    padding-top: 26px;
    font-size: 14px;
    letter-spacing: 4px;
    height: 19px
}

#main_nav a{
    opacity: 0.3;
    padding-right: 24px;
    color: #222222; 
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4px;
}
#main_nav a:hover{
    color: #1434E1;
    opacity: 1;
}

.images img{  
    width:350px;
    height: 450px;
    padding:40px 30px 0 0;
}
.iner{
    padding: 0px;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
}
h1{
    padding: 0px;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
}
.cover h1{
    height: 48px;
    padding-top: 40px;
}
p{
    padding-top: 8px;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    height: 29px;
    color: #222222;
    /* Black */
    opacity: 0.7;
}

.info h1{
    padding-top: 60px;
    padding-bottom: 8px;
    height: 53px;
}
.info li span{
    height: 16px;
    padding-left: 29px;
}
.info li{
    text-transform: uppercase;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4px;
    color: #000000;
    padding-bottom: 30px;
}
.info img{
    vertical-align: middle;
}

.more_img{
    padding-bottom: 58px;
    height: 552px;
    padding-top: 4px;/*The difference between the two heights of the images is 36px. all that laft is to add 4px to the top in order to get to right amout of padding between them and the icon*/
}
#sec_img{
    position: relative;
    right: 315px;
    top: 99px;
    box-shadow: 30px 80px 180px rgba(0, 0, 0, 0.25);
}
footer {
    background: #515151;
    padding-top: 69.5px;
    padding-left: 125px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#first_links{
    padding-bottom: 42.5px;    
}
#first_links a{
    padding-right: 59px;
    height: 28px;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}
#sec_links{
    padding-top: 41px;
    padding-bottom: 43px;
    
}
#sec_links a{
    padding-right: 18px;
}
#links a{
    color: #FFFFFF;
}
hr{
    mix-blend-mode: normal;
    opacity: 0.2;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    height: 1px;
}
#links span{
    background: #C6B393;
    color: #FFFFFF;
    Letter-Spacing: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 206px;
    padding-left: 26.82px;
    padding-right:26.82px;
}