@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body
{
  font-family: 
  "Alef Hebrew",
               Helvetica,
               Arial,
               sans-serif;
}
#wrapper
{
  top:200px;
}
#signup
{
  left:0px; 
}
label
{
  display: block;
  text-align: left;
}
h1
{color: white;font-weight: bold;font-size: 30px;/* display: block; */text-align: center;/* top: 325px; */visibility: hidden;margin-bottom: 30px;}

#headline
{
  font-family: 
  "Alef Hebrew",
               Helvetica,
               Arial,
               sans-serif;
}
#headline2
{
  font-family: 
  "Alef Hebrew",
               Helvetica,
               Arial,
               sans-serif;  
               padding-top:10px; 
  visibility: visible;
}
.login-page {

  margin: auto;
}

#formWrapper
{
  visibility: hidden;
}

#form2 {
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  top: 250px;

}

#form2 input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#form2 button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}



#form2 .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
#form2 .message a {
  color: #4CAF50;
  text-decoration: none;
}
#form2 .register-form {
  display: none;
}
#form {
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 17px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  width: 49%;
  display: block;
}

#form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
#form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
#form .message a {
  color: #4CAF50;
  text-decoration: none;
}
#form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: black; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, black,black);
  background: -moz-linear-gradient(right, black, black);
  background: -o-linear-gradient(right, black,black);
  background: linear-gradient(to left,black,black);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}



@keyframes bounce {
from { transform: translate3d(0, 0, 0);     }
to   { transform: translate3d(0, 200px, 0); }
}

/* Prefix Support */

.topBounce
{
  margin-top:50px; 
}
#ball {
animation: bounce 0.5s;
animation-direction: alternate;
animation-timing-function: cubic-bezier(.5,0.05,1,.5);
animation-iteration-count: infinite;
width: 7%;
display: block;
margin-left: auto;
margin-right: auto;

}

#logo2
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top:80px; 
  width: 272px;
  background-image: url("../images/Asset1.svg");
  background-repeat: repeat-y;

}

#logo
{
  margin-top:200px;
  width:20%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

@media (max-width: 552px){
  #form2 {
    max-width: 279px;
    padding: 29px;
  }
}
@-webkit-keyframes bounce {
from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
to   { -webkit-transform: translate3d(0, 200px, 0); transform: translate3d(0, 200px, 0); }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
@media (max-width: 321px){
  #logo{
    width: 65% !important;
  }
  #form {
    width: 90%;
    padding: 17px !important;

  }
  h1{
    font-size: 22px;
  }
}